.idea
commercebird
commercebird.zip
admin/*.txt
/**/*.log
composer.lock
.vscode
*.lock
# Ignore everything in vendor/
vendor/*

# Allow composer subfolder and autoload.php
!vendor/composer/
!vendor/composer/*
!vendor/autoload.php
/svn-tags
