#switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#switch #cors_status {
  opacity: 0;
  width: 0;
  height: 0;
}

#slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#cors_status:checked+#slider {
  background-color: #2196F3;
}

#cors_status:focus+#slider {
  box-shadow: 0 0 1px #2196F3;
}

#cors_status:checked+#slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.on-header {
  text-align: center;
  padding: 7px;
  background: #fff;
  margin-bottom: 10px;
  padding-left: 0 !important;
}

.right {
  padding: 8px 20px;
  position: relative;
  left: 70%;
  border-radius: 25px;
  font-size: 16px;
}
.not-active{
  border: 3px solid red;
  color: red;
}
.rplan-btn,.rplan-btn:hover{
  border: 3px solid;
  color: #fff;
  left: 60%;
  text-decoration: none;
  bottom: 5px;
  background-color: #2196F3;
}


.active{
  border: 3px solid green;
  color: green;
}

.profile-logo {
  width: 26%;
}

.hub-logo {
  width: 40%;
  height: 85%;
}

.setting-card{
  #setting-error-tgmpa{
    display:none;
  }

}
.head {
  border-bottom: 1px solid #e3dada;
  padding-bottom: 15px;
  margin: 12px 0;
}

.footer {
  border-top: 1px solid #e3dada;
  margin-top: 20px;
}

.notice.notice-error {
  display: none;
}

.img-bg {
  background: #dce4ed;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 210px;
  align-items: end;
  padding: 12px 0;
}

.footbg {
  background: #2797E8;
  padding: 15px 0px;
  height: 66px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-evenly;
}

.op-button-transparent {
  margin: 12px;
  background: none;
  border: none;
  flex: 3;
}

.op-button-transparent a {
  color: #fff;
  text-decoration: none;
}

.footbg p {
  flex: inherit;
  color: #fff;
  text-decoration: none;
  margin-left: 25px;
}

.setting-card {
  margin-top: 15px !important;
  padding: 0.7em 2em 1em;
  border: 1px solid #c3c4c7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
  width: 88%;
}

.leftside,
.rightside {
  min-width: 50%;
}

.op-portlet-need h6 {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
}

.op-portlet-need p {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}

.op-portlet-need ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.4rem 0;
}

.op-portlet-need ul li {
  margin-right: 20px;
}

.op-portlet-need ul li:last-child {
  justify-content: flex-end;
  flex: 1;
  display: flex;
  margin-right: 0px;
}

.op-btn-transparent a {
  text-decoration: none;
}

.dashboard-container {
  display: flex;
  justify-content: space-evenly;
}

.toggle-text {
  margin-left: 20px;
  vertical-align: top;
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}